@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");

body {
    font-family: "Poppins", sans-serif;
}
.header-top {
    transition: all 0.3s ease;
}

.header-middle {
    transition: all 0.3s ease;
    position: relative;
}

.header-middle.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    animation: slideDown  0.5s ease-in-out;
}

.hidden-top-bar {
    transform: translateY(-100%);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Starting footer */
footer {
    background-color: #262626;
    color: #FFFFFF;
    border-top: 2px solid #ff4400;
}

.footer-title {
    font-weight:600;
    padding-bottom:16px;
}

.footer-content {
    font-size: 17px;
    color: #777777;
    padding-bottom: 5px;
}

.footer-content a:hover {
    color: #E7511A;
}

.mb-0 {
    padding-top: 20px;
}

.footer-icon {
    color: #FFFFFF;
}

.footer-icon:hover {
    color: #E7511A;
}

/* end footer*/