@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");

body {
    font-family: "Poppins", sans-serif;
}

.header-top {
    transition: all 0.3s ease;
}

.header-middle {
    transition: all 0.3s ease;
    position: relative;
}

.header-middle.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    animation: slideDown 0.5s ease-in-out;
}

.hidden-top-bar {
    transform: translateY(-100%);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Starting footer */
.customer-footer {
    background-color: #262626;
    color: #FFFFFF;
    border-top: 2px solid #ff4400;
}

.footer-title {
    font-weight: 600;
    padding-bottom: 16px;
}

.footer-content {
    font-size: 17px;
    color: #777777;
    padding-bottom: 5px;
}

.footer-content a:hover {
    color: #E7511A;
}

.mb-0 {
    padding-top: 20px;
}

.footer-icon {
    color: #FFFFFF;
}

.footer-icon:hover {
    color: #E7511A;
}

/* end footer*/

/* Admin sidebar */
.sidebar-link-active {
    background-color: #1777ff;
}

.owl-carousel {
    position: relative;
}

.owl-dots {
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

/* Định dạng cho item */
.owl-carousel .item {
    position: relative;
}

.owl-carousel .item img {
    width: 100%;
    height: auto;
}


.owl-carousel .item .content {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: white;
    text-align: left;
}


.owl-carousel .item .content h2 {
    /*font-size: 3rem;*/
    margin-bottom: 10px;
}

.owl-carousel .item .content p {
    /*font-size: 20px;*/
    margin-bottom: 20px;
}


.owl-carousel .item .content .btn {
    color: #000000;
    background-color: #ffffff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
}

.owl-carousel .item .content .btn:hover {
    color: #ffffff;
    background-color: #E7511A;
}

.hover-opacity img {
    transition: opacity 0.3s ease;
}

.hover-opacity:hover img {
    opacity: 0.8;
}
