<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/admin.html}">
<body>
<section layout:fragment="content">
    <div class="flex items-center gap-x-2 text-2xl font-bold">
        <i class="fa-solid fa-user"></i>
        <h1>Quản Lý Tài Khoản</h1>
    </div>
    <!-- Search -->
    <div class="w-full bg-[#FFFFFF] mt-5 p-2.5 rounded-md">
        <div class="flex items-center gap-x-2 text-xl">
            <i class="fa-solid fa-filter"></i>
            <p>Bộ lọc</p>
        </div>
        <hr>
        <form class="flex flex-wrap items-center justify-between gap-4 mt-4">
            <div class="flex flex-col">
                <label for="email" class="text-sm font-semibold mb-1">Email</label>
                <input type="text" id="email" name="email"
                       class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-80">
            </div>
            <div class="flex flex-col">
                <label for="isActive" class="text-sm font-semibold mb-1">Trạng thái:</label>
                <select id="isActive" name="status"
                        class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-80">
                    <option value="1">Đang hoạt động</option>
                    <option value="0">Ngưng Hoạt động</option>
                </select>
            </div>

            <div class="flex flex-col">
                <label for="role" class="text-sm font-semibold mb-1">Vai trò</label>
                <select id="role" name="role"
                        class="border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 w-80">
                    <option value="">Tất cả</option>
                    <option value="1">Customer</option>
                    <option value="0">Employee</option>
                </select>
            </div>
            <div class="flex items-center space-x-3">
                <button type="submit"
                        class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Tìm Kiếm
                </button>
                <button type="button"
                        class="bg-red-500 text-white px-4 py-2 rounded-lg shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500">
                    Làm mới bộ lọc
                </button>
            </div>
        </form>
    </div>
    <!-- Table -->
    <div class="w-full bg-white mt-5 p-2.5 rounded-md shadow-md">
        <div class="flex items-center justify-between mb-4">
            <div class="flex items-center gap-x-2 text-xl font-semibold">
                <i class="fa-solid fa-users"></i>
                <p>Danh Sách Tài Khoản</p>
            </div>
            <a th:href="@{/admin/account/register}"
               class="bg-[#E4641A] text-white px-4 py-2 rounded-lg shadow-md hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500 addAccountModal">
                <i class="fa-solid fa-plus"></i>
                <span>Thêm tài khoản mới</span>
            </a>

        </div>
        <hr class="mb-4">
        <table class="w-full table-auto border-collapse">
            <thead class="bg-gray-100">
            <tr>
                <th class="py-3 px-4 text-left text-sm font-semibold text-white border-b bg-[#E4641A] rounded-tl-lg">
                    STT
                </th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-white border-b bg-[#E4641A]">Họ và tên</th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-white border-b bg-[#E4641A]">Vai trò</th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-white border-b bg-[#E4641A]">Tên tài khoản
                </th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-white border-b bg-[#E4641A]">Ngày sinh</th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-white border-b bg-[#E4641A]">Số điện thoại
                </th>
                <th class="py-3 px-4 text-left text-sm font-semibold text-white border-b bg-[#E4641A] rounded-tr-lg">
                    Hành động
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account, iterStat : ${accounts}">
                <td th:text="${iterStat.index + 1}" class="py-3 px-4 border-b"></td>
                <td th:text="${account.getProfile().getFirstName()} + ' ' + ${account.getProfile().getLastName()}"
                    class="py-3 px-4 border-b"></td>
                <td th:each="role, iterStat: ${account.roles}" class="py-3 px-4 border-b ">
                    <div th:text="${role.name}"></div>
                </td>
                <td th:text="${account.email}" class="py-3 px-4 border-b"></td>
                <td th:text="${account.profile.dateOfBirth}" class="py-3 px-4 border-b"></td>
                <td th:text="${account.profile.phoneNumber}" class="py-3 px-4 border-b"></td>
                <td class="py-3 px-4 border-b gap-2">
                    <a class="bg-blue-500 text-white px-2 py-1 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 edit-category"
                       th:href="@{'/admin/account/update/' + ${account.email}}">
                        <i class="fa-solid fa-edit"></i>
                    </a>
                    <!--                    <a class="bg-red-500 text-white px-2 py-1 rounded-lg shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500"-->

                    <!--                       th:href="@{'/'}"-->
                    <!--                       th:onclick="return confirm('Bạn có chắc muốn xoá danh mục sản phẩm này không?')">-->
                    <!--                        <i class="fa-solid fa-trash"></i>-->
                    <!--                    </a>-->
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(accounts)}">
                <td colspan="5" class="py-3 px-4 text-center">Không có dữ liệu để hiển thị.</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--Pagination -->
    <div th:if="${totalPages > 0}" class="flex items-center justify-between mt-4">
        <div>
            <p class="text-sm text-gray-600">
                Trang <span th:text="${currentPage}"></span> / <span th:text="${totalPages}"></span>
            </p>
        </div>
        <div>
            <nav>
                <ul class="flex items-center gap-x-2">
                    <!-- Previous Page Link -->
                    <li th:if="${currentPage > 1}">
                        <a th:href="@{/admin/account(page=${currentPage - 1}, size=${size})}"
                           class="bg-blue-500 text-white px-3 py-1 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    </li>

                    <!-- Page Number Links -->
                    <li th:if="${currentPage > 3}">
                        <a th:href="@{/admin/account(page=1, size=${size})}"
                           class="text-white px-3 py-1 rounded-lg bg-blue-500">1</a>
                        <span class="text-gray-600">...</span>
                    </li>

                    <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                        th:if="${i > 0 && i <= totalPages}">
                        <a th:href="@{/admin/account(page=${i}, size=${size})}"
                           th:text="${i}"
                           th:classappend="${i == currentPage} ? 'bg-[#e4641a]' : 'bg-blue-500'"
                           class="text-white px-3 py-1 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </a>
                    </li>

                    <li th:if="${currentPage < totalPages - 2}">
                        <span class="text-gray-600">...</span>
                        <a th:href="@{/admin/account(page=${totalPages}, size=${size})}"
                           class="text-white px-3 py-1 rounded-lg bg-blue-500" th:text="${totalPages}"></a>
                    </li>

                    <!-- Next Page Link -->
                    <li th:if="${currentPage < totalPages}">
                        <a th:href="@{/admin/account(page=${currentPage + 1}, size=${size})}"
                           class="bg-blue-500 text-white px-3 py-1 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>
