<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/admin.html}">
<body>
<section layout:fragment="content">
    <div class="flex items-center gap-x-2 text-2xl font-bold">
        <i class="fa-solid fa-user"></i>
        <h1>Quản Lý Tài Khoản</h1>
    </div>

    <div class="flex">
        <div class="w-full h-full p-4">
            <form th:action="@{/admin/account/register}" th:object="${register}" method="post">
                <div class="modal-body">
                    <div class="alert alert-danger" th:if="${errorMessage != null}">
                        <p th:text="${errorMessage}"></p>
                    </div>
                    <!-- Form fields -->
                    <div class="mb-3">
                        <label for="firstName" class="form-label fw-bold"><span class="text-danger">*</span> Họ </label>
                        <input th:field="*{firstName}" type="text"
                               class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-600"
                               id="firstName" name="firstName" placeholder="Nhập họ" required>
                    </div>
                    <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}"></p>


                    <div class="mb-3">
                        <label for="lastName" class="form-label fw-bold"><span class="text-danger">*</span> Tên </label>
                        <input th:field="*{lastName}" type="text"
                               class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-600"
                               id="lastName" name="lastName" placeholder="Nhập tên" required>
                    </div>
                    <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('lastName')}"
                       th:errors="*{lastName}"></p>

                    <div class="mb-3">
                        <label for="dateOfBirth" class="form-label fw-bold"><span class="text-danger">*</span> Ngày sinh</label>
                        <input
                                type="date"
                                class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-600"
                                placeholder="dd-mm-yyyy"
                                th:field="*{dateOfBirth}"
                                id="dateOfBirth"
                                name="dateOfBirth"
                                required
                        />
                        <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('dateOfBirth')}"
                           th:errors="*{dateOfBirth}"></p>
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label fw-bold"><span class="text-danger">*</span> Số điện
                            thoại </label>
                        <input th:field="*{phoneNumber}" type="text"
                               class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-600"
                               id="phoneNumber" name="phoneNumber" placeholder="Nhập số điện thoại" required>
                    </div>
                    <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('phoneNumber')}"
                       th:errors="*{phoneNumber}"></p>
                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold"><span class="text-danger">*</span> Email</label>
                        <input th:field="*{email}" type="email"
                               class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-600"
                               id="email" name="email" placeholder="Nhập email" required>
                    </div>

                    <div class="mb-4">
                        <label for="password" class="form-label fw-bold"><span class="text-danger">*</span>Nhập mật khẩu</label>
                        <input
                                class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-600"
                                type="password"
                                placeholder="Mật khẩu"
                                th:field="*{password}"
                                id="password"
                                name="password"
                                required
                        />
                        <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"></p>
                    </div>

                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label fw-bold"><span class="text-danger">*</span> Nhập
                            lại mật khẩu </label>
                        <input
                                class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-600"
                                type="password"
                                placeholder="Nhập lại mật khẩu"
                                th:field="*{confirmPassword}"
                                id="confirmPassword"
                                name="confirmPassword"
                                required
                        />
                        <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('confirmPassword')}"
                           th:errors="*{confirmPassword}"></p>
                    </div>
                </div>
                <div class="flex items-center justify-end gap-x-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </form>
        </div>
    </div>


</section>

</body>
</html>.