<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/admin :: layout(~{::section})}">
<head>
</head>
<body>
<section>
    <div class="container mt-5">
        <div class="flex items-center gap-x-2 text-2xl font-bold">
            <i class="fa-solid fa-pen-to-square"></i>
            <h1>Cập Nhật Danh Mục</h1>
        </div>
        <hr class="my-4">
                <form th:action="@{/admin/category/update/{id}(id=${category.id})}" th:object="${category}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="name" class="form-label">Tên danh mục:</label>
                    <input type="text" id="name" name="name" class="form-control"
                           th:field="*{name}" required>
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Trạng thái:</label>
                    <select id="status" name="status" class="form-select" th:field="*{status}">
                        <option value="1" th:selected="*{status == 1}">Đang Hoạt động</option>
                        <option value="0" th:selected="*{status == 0}">Ngừng hoạt động</option>
                    </select>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                    <a href="/admin/category" class="btn btn-secondary">Quay Lại</a>
                </div>
            </form>
    </div>
</section>
</body>
</html>
