<!DOCTYPE html>
<html lang="vi" th:fragment="layout(content)" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=${title})}"></head>
<body class="h-screen">
    <div class="flex">
        <div th:replace="~{fragments/admin/sidebar :: sidebar}"></div>
        <div class="flex-1">
            <header th:replace="~{fragments/admin/header :: header}"></header>
            <div class="p-2.5">
            <div th:replace="${content}"></div>
        </div>
        </div>
    </div>
    <footer th:replace="~{fragments/admin/footer :: footer}"></footer>
    <div th:replace="~{fragments/script :: script}"></div>
</body>
</html>