<!DOCTYPE html>
<html lang="vi" th:fragment="layout(content)" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=${title})}"></head>
<body class="bg-[#f5f5f5]">
<div>
    <div th:replace="~{fragments/admin/sidebar :: sidebar}"></div>
    <div class="ml-[240px]">
        <header th:replace="~{fragments/admin/header :: header}"></header>
        <div class="p-6">
            <div th:replace="${content}"></div>
        </div>
<!--        <footer th:replace="~{fragments/admin/footer :: footer}"></footer>-->
    </div>
</div>
<div th:replace="~{fragments/script :: script}"></div>
</body>
</html>