<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/head :: head(title=${title})}"></head>
<body>
<header th:replace="~{fragments/customer/header :: header}"></header>
<main style="min-height: calc(100vh - 421.7px)">
    <div layout:fragment="content"></div>
</main>
<footer th:replace="~{fragments/customer/footer :: footer}"></footer>
<div th:replace="~{fragments/script :: script}"></div>
</body>
</html>
