<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/customer.html}">
<body>
<section layout:fragment="content">
    <div class="container mx-auto px-4 py-8 flex">
        <!-- Sidebar -->
        <aside class="w-full lg:w-1/4 bg-white shadow-md rounded-lg p-6 h-[300px]">
            <div class="flex items-center gap-x-2 mb-6">
                <img th:src="${profile.getAvatarUrl() != null ? profile.getAvatarUrl() : '/assets/image/tungchinh.jpg'}"
                     alt="User Avatar"
                     class="w-16 h-16 object-cover rounded-full">
                <div>
                    <h3 class="text-lg font-bold text-gray-800">
                        <span th:text="${profile.getLastName()} + ' ' + ${profile.getFirstName()}"></span>
                    </h3>
                    <p class="text-gray-600">
                        <span th:text="${profile.getAccount().getEmail()}"></span>
                    </p>
                </div>
            </div>
            <nav>
                <ul class="space-y-4 text-lg">
                    <li>
                        <a href="/profile" th:classappend="${currentPage == 'profile'} ? 'text-orange-500' : 'text-gray-700 hover:text-orange-500'">
                            <i class="fas fa-user-circle mr-2"></i>
                            Tài khoản của tôi
                        </a>
                    </li>
                    <li>
                        <a href="/profile/purchase" th:classappend="${currentPage == 'purchase'} ? 'text-orange-500' : 'text-gray-700 hover:text-orange-500'">
                            <i class="fas fa-shopping-bag mr-2"></i>
                            Đơn mua
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/auth/sign-out}" class="flex items-center text-gray-700 hover:text-orange-500">
                            <i class="fas fa-sign-out-alt mr-2"></i>
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <!-- Profile Section -->
        <main class="w-3/4 ml-8">
            <!-- Profile Infor -->
            <div class="container mx-auto px-4 py-8 shadow-md rounded-lg">
                <h2 class="text-2xl font-bold mb-6">Cập nhật hồ sơ</h2>
                <form th:action="@{/profile/update}" method="post">
                    <div class="mb-4">
                        <label for="lastName" class="block text-gray-700">Họ</label>
                        <input th:value="${profile.getLastName()}" type="text" id="lastName" name="lastName"
                               class="w-full px-3 py-2 border rounded">
                    </div>
                    <div class="mb-4">
                        <label for="firstName" class="block text-gray-700">Tên</label>
                        <input th:value="${profile.getFirstName()}" type="text" id="firstName" name="firstName"
                               class="w-full px-3 py-2 border rounded">
                    </div>
                    <div class="mb-4">
                        <label for="dateOfBirth" class="block text-gray-700">Ngày sinh</label>
                        <input th:value="${profile.dateOfBirth != null ? profile.dateOfBirth : ''}" type="date"
                               id="dateOfBirth" name="dateOfBirth" class="w-full px-3 py-2 border rounded">
                    </div>
                    <div class="mb-4">
                        <label for="phoneNumber" class="block text-gray-700">Số điện thoại</label>
                        <input th:value="${profile.phoneNumber != null ? profile.phoneNumber : ''}" type="text"
                               id="phoneNumber" name="phoneNumber" class="w-full px-3 py-2 border rounded">
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="px-4 py-2 bg-[#e7511a] text-white rounded">Cập nhật</button>
                    </div>
                </form>
            </div>
            <!--Password Change-->
            <div class="container mx-auto px-4 py-8 shadow-md rounded-lg mt-4">
                <h2 class="text-2xl font-bold mb-6">Đổi mật khẩu</h2>
                <form th:action="@{/profile/change-password}" th:object="${password}" method="post">
                    <div class="mb-4">
                        <label for="currentPassword" class="block text-gray-700">Mật khẩu hiện tại</label>
                        <input type="password" id="currentPassword" name="currentPassword"
                               class="w-full px-3 py-2 border rounded">
                    </div>
                    <div class="mb-4">
                        <label for="newPassword" class="block text-gray-700">Mật khẩu mới</label>
                        <input type="password" id="newPassword" name="newPassword"
                               class="w-full px-3 py-2 border rounded">
                    </div>
                    <div class="mb-4">
                        <label for="confirmPassword" class="block text-gray-700">Xác nhận mật khẩu</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                               class="w-full px-3 py-2 border rounded">
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="px-4 py-2 bg-[#e7511a] text-white rounded">Đổi mật khẩu</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</section>
</body>
</html>