<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/customer.html}">
<body>
<section layout:fragment="content">
    <div class="container mx-auto px-4 py-8 flex flex-col lg:flex-row gap-6">
        <!-- Sidebar -->
        <aside class="w-full lg:w-1/4 bg-white shadow-md rounded-lg p-6 h-[300px]">
            <div class="flex items-center gap-x-2 mb-6">
                <img th:src="${profile.getAvatarUrl() != null ? profile.getAvatarUrl() : '/assets/image/user.png'}"
                     alt="User Avatar"
                     class="w-16 h-16 object-cover rounded-full">
                <div>
                    <h3 class="text-lg font-bold text-gray-800">
                        <span th:text="${profile.getLastName()} + ' ' + ${profile.getFirstName()}"></span>
                    </h3>
                    <p class="text-gray-600">
                        <span th:text="${profile.getAccount().getEmail()}"></span>
                    </p>
                </div>
            </div>
            <nav>
                <ul class="space-y-4 text-lg">
                    <li>
                        <a href="/profile"
                           th:classappend="${currentPage == 'profile'} ? 'text-orange-500' : 'text-gray-700 hover:text-orange-500'">
                            <i class="fas fa-user-circle mr-2"></i>
                            Tài khoản của tôi
                        </a>
                    </li>
                    <li>
                        <a href="/profile/purchase"
                           th:classappend="${currentPage == 'purchase'} ? 'text-orange-500' : 'text-gray-700 hover:text-orange-500'">
                            <i class="fas fa-shopping-bag mr-2"></i>
                            Đơn mua
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/auth/sign-out}" class="flex items-center text-gray-700 hover:text-orange-500">
                            <i class="fas fa-sign-out-alt mr-2"></i>
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <!-- Main Content -->
        <main class="w-full lg:w-3/4">
            <!-- Tabs -->
            <div class="flex border-b mb-4 space-x-4">
                <a th:href="@{/profile/purchase}"
                   th:classappend="${selectedStatus == null} ? 'border-b-2 border-orange-500' : ''"
                   class="px-2 py-2 text-gray-700 hover:border-b-2 hover:border-orange-500 focus:outline-none">Tất
                    cả</a>
                <a th:href="@{/profile/purchase(status='PENDING')}"
                   th:classappend="${selectedStatus != null and selectedStatus.name() == 'PENDING'} ? 'border-b-2 border-orange-500' : ''"
                   class="px-2 py-2 text-gray-700 hover:border-b-2 hover:border-orange-500 focus:outline-none">Chờ xác
                    nhận</a>
                <a th:href="@{/profile/purchase(status='CONFIRMED')}"
                   th:classappend="${selectedStatus != null and selectedStatus.name() == 'CONFIRMED'} ? 'border-b-2 border-orange-500' : ''"
                   class="px-2 py-2 text-gray-700 hover:border-b-2 hover:border-orange-500 focus:outline-none">Đã xác
                    nhận</a>
                <a th:href="@{/profile/purchase(status='SHIPPING')}"
                   th:classappend="${selectedStatus != null and selectedStatus.name() == 'SHIPPING'} ? 'border-b-2 border-orange-500' : ''"
                   class="px-2 py-2 text-gray-700 hover:border-b-2 hover:border-orange-500 focus:outline-none">Đang vận
                    chuyển</a>
                <a th:href="@{/profile/purchase(status='COMPLETED')}"
                   th:classappend="${selectedStatus != null and selectedStatus.name() == 'COMPLETED'} ? 'border-b-2 border-orange-500' : ''"
                   class="px-2 py-2 text-gray-700 hover:border-b-2 hover:border-orange-500 focus:outline-none">Hoàn
                    thành</a>
                <a th:href="@{/profile/purchase(status='CANCELLED')}"
                   th:classappend="${selectedStatus != null and selectedStatus.name() == 'CANCELLED'} ? 'border-b-2 border-orange-500' : ''"
                   class="px-2 py-2 text-gray-700 hover:border-b-2 hover:border-orange-500 focus:outline-none">Đã
                    hủy</a>
            </div>

            <!-- Orders List -->
            <div th:if="${#lists.isEmpty(orders)}"
                 class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 mb-6 p-4">
                <p class="text-center text-gray-500">Không có đơn hàng nào.</p>
            </div>
            <div th:each="order: ${orders}"
                 class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 mb-6">
                <!-- Order Status -->
                <div th:switch="${order.getStatus().name()}" class="p-4 flex justify-between items-center border-b">
                    <span th:case="PENDING"
                          class="inline-flex items-center bg-yellow-100 text-yellow-800 text-sm font-medium px-4 py-2 rounded-full">
                        <i class="fas fa-hourglass-half mr-2"></i> Chờ xác nhận
                    </span>
                    <span th:case="CONFIRMED"
                          class="inline-flex items-center bg-blue-100 text-blue-800 text-sm font-medium px-4 py-2 rounded-full">
                        <i class="fas fa-check-circle mr-2"></i> Đã xác nhận
                    </span>
                    <span th:case="SHIPPING"
                          class="inline-flex items-center bg-yellow-100 text-yellow-800 text-sm font-medium px-4 py-2 rounded-full">
                        <i class="fas fa-truck mr-2"></i> Đang vận chuyển
                    </span>
                    <span th:case="COMPLETED"
                          class="inline-flex items-center bg-green-100 text-green-800 text-sm font-medium px-4 py-2 rounded-full">
                        <i class="fas fa-check-circle mr-2"></i> Đã hoàn thành
                    </span>
                    <span th:case="CANCELLED"
                          class="inline-flex items-center bg-red-100 text-red-800 text-sm font-medium px-4 py-2 rounded-full">
                        <i class="fas fa-times-circle mr-2"></i> Đã hủy
                    </span>
                </div>

                <!-- Order Items -->
                <div th:each="orderDetail : ${order.getOrderDetails()}"
                     class="p-4 flex flex-col sm:flex-row gap-6 border-b">
                    <img th:src="${orderDetail.getProductVariant().getProductImageColour().getThumbnail()}"
                         alt="Product" class="w-20 h-20 object-cover rounded-md">
                    <div class="flex-1">
                        <h3 class="text-lg font-semibold text-gray-800"
                            th:text="${orderDetail.getProductVariant().getProduct().getName()}"></h3>
                        <p class="text-gray-500 text-sm">
                            Size: <span class="font-medium"
                                        th:text="${orderDetail.getProductVariant().getSize().getName()}"></span>
                        </p>
                        <p class="text-gray-500 text-sm">
                            Số lượng: <span class="font-medium" th:text="${orderDetail.getQuantity()}"></span>
                        </p>
                    </div>
                    <div class="text-right flex flex-col justify-between">
                        <div>
                            <p class="text-lg font-semibold text-gray-800"
                               th:text="${#numbers.formatCurrency(orderDetail.getProductVariant().getProduct().getPrice())}"></p>
                            <p class="text-gray-500 text-sm"
                               th:text="${#numbers.formatCurrency(orderDetail.getQuantity() * orderDetail.getProductVariant().getProduct().getPrice())}"></p>
                        </div>

                        <div th:if="${order.getStatus().name() == 'COMPLETED'}">
                            <div th:if="${orderDetail.getFeedback() != null}"
                                 class="px-2 rounded-md flex justify-center items-center feedbackbtn-nonactive">
                                Đã đánh giá
                            </div>
                            <a th:unless="${orderDetail.getFeedback() != null}"
                               class="px-2 rounded-md flex justify-center items-center feedbackbtn-active"
                               th:href="@{/profile/purchase/feedback/{id}(id=${orderDetail.getId()})}">
                                Đánh giá
                            </a>
                        </div>


                    </div>
                </div>

                <!-- Total Price -->
                <div class="p-4 flex justify-between items-center">
                    <p class="text-lg font-semibold text-gray-800">Thành tiền:
                        <span th:text="${#numbers.formatCurrency(order.getTotalPrice())}"></span>
                    </p>
                    <div class="flex gap-x-5">
                        <form th:action="@{/profile/purchase/order/cancel/{id}(id=${order.getId()})}" method="post">
                            <button th:if="${order.getStatus().name() == 'PENDING'}"
                                    class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">
                                Hủy đơn hàng
                            </button>
                        </form>
                        <a th:href="@{/profile/purchase/detail/{id}(id=${order.getId()})}"
                           class="px-4 py-2 bg-orange-500 text-white rounded-md hover:bg-orange-600">Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <style>

        .feedbackbtn-active {
            cursor: pointer;
            color: rgb(52 171 93);
            border: 1px solid rgb(52 171 93);
        }

        .feedbackbtn-active:hover {
            background: rgb(52 171 93);
            color: white;
        }

        .feedbackbtn-nonactive {
            cursor: default;
            background: rgb(224 224 224);
            color: white;
        }
    </style>
</section>
</body>
</html>