<div xmlns:sec="http://www.w3.org/1999/xhtml" th:fragment="sidebar"
     class="pb-3 w-60 bg-[#001529] text-white fixed top-0 left-0 bottom-0 w-[240px]">
    <div class="mb-1.5 pb-2.5 text-center border-b-2 border-slate-300">
        <div class="flex justify-center">
            <img th:src="@{/assets/image/user.png}"
                 alt="Avatar"
                 class="rounded-full w-[150px] h-[150px] object-cover my-2"
            >
        </div>
        <!--        <h2 class="text-xl font-bold my-2">Admin's Name</h2>-->
        <!--        <h4 class="text-sx opacity-50 font-semibold">Admin</h4>-->
    </div>
    <div>
        <ul>
            <li>
                <a class="sidebar-item border-l-4 block px-3.5 py-2.5 cursor-pointer hover:bg-[#1777ff]"
                   th:href="@{/admin/dashboard}" sec:authorize="hasAuthority('ADMIN')"><i
                        class="mr-2 fa-solid fa-table-columns"></i> Tổng quan</a></li>
            <li class="hr">Quản lý</li>
            <li>
                <a class="sidebar-item border-l-4 block px-3.5 py-2.5 cursor-pointer hover:bg-[#1777ff]"
                   th:href="@{/admin/category}">Danh Mục</a>
            </li>
            <li>
                <a class="sidebar-item border-l-4 block px-3.5 py-2.5 cursor-pointer hover:bg-[#1777ff]"
                   th:href="@{/admin/product}">Sản Phẩm</a>
            </li>
            <li>
                <a class="sidebar-item border-l-4 block px-3.5 py-2.5 cursor-pointer hover:bg-[#1777ff]"
                   th:href="@{/admin/order}">Đơn Hàng</a>
            </li>
            <li>
                <a class="sidebar-item border-l-4 block px-3.5 py-2.5 cursor-pointer hover:bg-[#1777ff]"
                   th:href="@{/admin/account}" sec:authorize="hasAuthority('ADMIN')">Quản lý nhân viên</a>
            </li>

            <!--            <li class="px-3.5 py-2.5 flex justify-between items-center sidebar-item cursor-pointer hover:bg-red-50 hover:text-red-500">-->
            <!--                Quản lý sản phẩm<i-->
            <!--                    class="fa-solid fa-angle-up transform transition-transform duration-500 ease-in-out"></i>-->
            <!--            </li>-->
            <!--            <li class="sub-sidebar-item hidden opacity-0 transform -translate-y-10 transition-all duration-500">-->
            <!--                <a class="border-l-4 focus:border-red-500 focus:bg-red-50 focus:text-red-500 block px-4 py-2.5 cursor-pointer hover:bg-red-50 hover:text-red-500"-->
            <!--                   th:href="@{/admin/category}">Danh Mục</a>-->
            <!--            </li>-->

            <li class="hr">Tài khoản</li>
            <li>
                <a class="sidebar-item border-l-4 block px-3.5 py-2.5 cursor-pointer hover:bg-[#1777ff]"
                   th:href="@{#}"><i class="mr-2 fa-regular fa-comment"></i> Phản hồi</a></li>
            <li>
                <a class="sidebar-item border-l-4 block px-3.5 py-2.5 cursor-pointer hover:bg-[#1777ff]"
                   th:href="@{/admin/profile}"><i class="mr-2 fa-regular fa-user"></i> Hồ sơ</a>
            </li>
            <li>
                <a class="sidebar-item border-l-4 block px-3.5 py-2.5 cursor-pointer hover:bg-[#1777ff]"
                   th:href="@{/auth/sign-out}"><i class="fa-solid fa-right-from-bracket"></i></i> Đăng xuất</a>
            </li>
        </ul>
    </div>

    <script>
        let sidebarItem = document.querySelectorAll(".sidebar-item");
        let subSidebars = document.querySelectorAll(".sub-sidebar-item");
        let icon = document.querySelectorAll(".sidebar-item i.fa-angle-up")
        let hrs = document.querySelectorAll(".hr")
        sidebarItem.forEach((item, index) => {
            item.addEventListener("click", () => {
                let subSidebar = subSidebars[index];
                subSidebar.classList.toggle("hidden");
                icon[index].classList.toggle("rotate-180");
                subSidebar.classList.remove('opacity-100', 'translate-y-0');
                subSidebar.classList.add('opacity-0', '-translate-y-10');
                setTimeout(() => {
                    subSidebar.classList.add('opacity-100', 'translate-y-0');
                    subSidebar.classList.remove('opacity-0', '-translate-y-10');
                }, 10);
            });
        });

        hrs.forEach(item => {
            item.classList.add("text-xs", "my-2", "border-b-2", "border-slate-300", "opacity-60", "font-semibold", "mx-2");
        });

        // Highlight the current page in the sidebar
        let currentPath = window.location.pathname;
        let sidebarItems = document.querySelectorAll(".sidebar-item");
        sidebarItems.forEach(item => {
            let href = item.getAttribute("href");
            if (currentPath.startsWith(href)) {
                item.classList.add("sidebar-link-active");
            }
        });
    </script>
</div>