<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/admin.html}">
<body>
<section layout:fragment="content">
    <div class="flex items-center gap-x-2 text-2xl font-bold">
        <i class="fa-solid fa-layer-group"></i>
        <h1>Thêm Mới Sản Phẩm</h1>
    </div>

    <div class="container mt-5">
        <form th:action="@{/admin/product/create}" th:object="${productDto}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Tên sản phẩm:</label>
                <input type="text" id="name" name="name" class="form-control w-full">
                <!--Error-->
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả:</label>
                <textarea rows="7" id="description" name="description" class="form-control w-full h-full"
                          ></textarea>
                <!--Error-->
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Giá:</label>
                <input type="number" id="price" name="price" class="form-control w-full">
                <!--Error-->
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
            </div>
            <div class="mb-3 ">
                <label for="category" class="form-label">Danh mục:</label>
                <div class="flex gap-x-5 items-center">
                    <select id="category" name="category" class="form-select w-full">
                        <option hidden>Chọn danh mục</option>
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <!--Error-->
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></p>
            </div>
            <div class="mb-3">
                <label for="brand" class="form-label">Thương hiệu:</label>
                <div class="flex gap-x-5 items-center">
                    <select id="brand" name="brand" class="form-select w-full">
                        <option hidden>Chọn thương hiệu</option>
                        <option th:each="brand : ${brands}"
                                th:value="${brand.id}"
                                th:text="${brand.name}"></option>
                    </select>
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <!--Error-->
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></p>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Thêm Mới</button>
                <a href="/admin/product" class="btn btn-secondary">Quay Lại</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>