<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/customer :: layout(~{::section})}">
<body>
<section>
    <div class="container">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img th:src="@{/assets/image/slider/img.png}" alt="Hàng Mới Về">
                <div class="content">
                    <h2 class="text-2xl md:text-4xl lg:text-5xl">Những Đôi Giày Mới Nhất!</h2>
                    <p class="hidden md:block lg:block md:text-lg lg:text-xl">Khám phá những mẫu giày mới nhất và nâng tầm phong cách
                        của bạn. Bộ sưu tập sneaker vừa cập bến!</p>
                    <a th:href="@{/shop}" class="btn">Mua Ngay</a>
                </div>
            </div>
            <div class="item">
                <img th:src="@{/assets/image/slider/img_1.png}" alt="Phiên Bản Giới Hạn">
                <div class="content">
                    <h2 class="text-2xl md:text-4xl lg:text-5xl">Độc Quyền & Giới Hạn!</h2>
                    <p class="hidden md:block lg:block md:text-lg lg:text-xl">Đừng bỏ lỡ những đôi giày phiên bản giới hạn. Hết là
                        không còn nữa!</p>
                    <a th:href="@{/shop}" class="btn">Mua Ngay</a>
                </div>
            </div>
            <div class="item">
                <img th:src="@{/assets/image/slider/img_2.png}" alt="Khuyến Mãi">
                <div class="content">
                    <h2 class="text-2xl md:text-4xl lg:text-5xl">Giảm Giá Đến 50%!</h2>
                    <p class="hidden md:block lg:block md:text-lg lg:text-xl">Những đôi sneaker yêu thích của bạn với mức giá không thể
                        tốt hơn. Nhanh tay trước khi hết hàng!</p>
                    <a th:href="@{/shop}" class="btn">Mua Ngay</a>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row h-full">
                        <div class="col-lg-6 col-md-6">
                            <div class="relative hover-opacity">
                                <img class="w-full h-full object-cover" th:src="@{/assets/image/banner/img.png}">
                                <div class="absolute w-1/2 top-1/2 right-[28px] transform -translate-y-1/2">
                                    <h2 class="text-white text-xl md:text-3xl font-semibold">Sneakers & Athletic
                                        Shoes</h2>
                                    <a th:href="@{/shop}"
                                       class="inline-block text-white bg-transparent border-white border px-8 py-2 rounded-3xl mt-3">Khám
                                        Phá Ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="relative hover-opacity">
                                <img class="w-full h-full object-cover" th:src="@{/assets/image/banner/img_1.png}">
                                <div class="absolute w-1/2 top-1/2 left-[28px] transform -translate-y-1/2">
                                    <h2 class="text-gray-800 text-xl md:text-3xl font-semibold">Sandals up to 70%
                                        off</h2>
                                    <a th:href="@{/shop}"
                                       class="inline-block text-gray-800 bg-transparent border-[#959595] border-[1px] px-6 py-2 rounded-3xl mt-3">Mua
                                        Ngay</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-6">
                            <div class="relative hover-opacity">
                                <img class="w-full h-full object-cover" th:src="@{/assets/image/banner/img_2.png}">
                                <div class="absolute w-1/2 top-1/2 left-[28px] transform -translate-y-1/2">
                                    <h2 class="text-white text-xl md:text-3xl font-semibold">On sale Slip-On Loafers Up
                                        to 50% off!</h2>
                                    <a th:href="@{/shop}"
                                       class="inline-block text-white bg-transparent border-white border px-8 py-2 rounded-3xl mt-3">Cửa
                                        Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="relative h-full hover-opacity">
                        <img class="w-full h-full object-cover" th:src="@{/assets/image/banner/img_3.png}">
                        <div class="absolute w-1/2 bottom-12 left-[28px] ">
                            <h2 class="text-white text-2xl md:text-3xl font-semibold">Khám Phá Bộ Sưu Tập Mới</h2>
                            <a th:href="@{/shop}"
                               class="inline-block text-white bg-transparent border-white border px-8 py-2 rounded-3xl mt-3">Khám
                                Phá Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
