<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/customer.html}">
<body>
<section layout:fragment="content">
    <div class="page-header" style="background-image: url('/assets/image/shop/page-header-bg.jpg')">
        <div class="container">
            <h1 class="text-[#333333] text-4xl text-center font-semibold">Cửa Hàng</h1>
        </div>
    </div>
    <div class="container mb-5">
        <nav class="my-4">
            <ul class="flex items-center gap-x-2">
                <li class=""><a th:href="@{/}">Trang chủ</a></li>
                <li><i class="fa-solid fa-chevron-right"></i></li>
                <li class="" aria-current="page"><a th:href="@{/shop}">Cửa hàng</a></li>
            </ul>
        </nav>
        <div class="row">
            <div class="col col-lg-3">
                <div class="fitler">
                    <label>Lọc:</label>
                    <a href="">Xoá tất cả </a>
                </div>
                <form action="/shop" id="filter-form">
                    <div class="category">
                        <h3 class="widget-title">Danh mục</h3>
                        <div class="widget-body">
                            <div class="filter-items filter-items-count">
                                <div class="filter-item" th:each="category : ${categories}">
                                    <div class="form-check">
                                        <input th:checked="${#lists.contains(selectedCategories, category.getId())}"
                                               class="form-check-input" type="checkbox" th:id="'cat-' + ${category.id}"
                                               name="categories" th:value="${category.id}">
                                        <label class="form-check-label first-letter:uppercase"
                                               th:for="'cat-' + ${category.id}" th:text="${category.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="brand">
                        <h3 class="widget-title">Thương Hiệu</h3>
                        <div class="widget-body">
                            <div class="filter-items filter-items-count">
                                <div class="filter-item" th:each="brand : ${brands}">
                                    <div class="form-check">
                                        <input th:checked="${#lists.contains(selectedBrands, brand.getId())}"
                                               class="form-check-input" type="checkbox" th:id="'brand-' + ${brand.id}"
                                               name="brands" th:value="${brand.id}">
                                        <label class="form-check-label first-letter:uppercase"
                                               th:for="'brand-' + ${brand.id}"
                                               th:text="${brand.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col col-lg-9">
                <div class="searh">
                    <div class="toolbox-left">
                        <div class="toolbox-info">
                            Hiển thị
                            <span>12 trong 56</span>
                            sản phẩm
                        </div>
                    </div>
                    <div class="toolbox-right">
                        <form th:action="@{/shop}" method="get">
                            <input type="hidden" name="categories" th:each="category : ${selectedCategories}"
                                   th:value="${category}">
                            <input type="hidden" name="brands" th:each="brand : ${selectedBrands}" th:value="${brand}">
                            <div class="flex items-center gap-x-2">
                                <label>Sắp xếp:</label>
                                <select name="sort" class="form-control" onchange="this.form.submit()">
                                    <option value="0" th:selected="${sort == '0'}">Giá cao -> thấp</option>
                                    <option value="1" th:selected="${sort == '1'}">Giá thấp -> cao</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!--List of products-->
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-4 col-xl-4" th:each="product, iterStat : ${products}" th:if="${product.getProductVariants().size() > 0}">
                            <div class="product">
                                <a th:href="@{/shop/product(slug=${product.slug}, colourId=${product.getProductImageColours().get(0).getId()})}">
                                    <figure class="product-media">
                                        <img th:src="${product.getProductImageColours().get(0).getThumbnail()}"
                                             alt="Product Image">
                                    </figure>
                                    <div class="product-body">
                                        <p>
                                            <span th:text="${product.getProductImageColours().size()}"></span>
                                            <span>Màu</span>
                                        </p>
                                        <h3 class="product-title" th:text="${product.name}">
                                        </h3>
                                        <p class="product-price"
                                           th:text="${#numbers.formatCurrency(product.price)}">
                                        </p>
                                        <div th:id="'divRateOfPro-' + ${iterStat.index}"
                                             class="flex justify-end gap-1 text-2xl">
                                            <span th:id="'rateOfPro-' + ${iterStat.index}" class="rateOfPro"
                                                  th:text="${product.getRate()}"></span>
                                            <span th:id="'starOfPro-' + ${iterStat.index}" class="starOfPro">★</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--Empty product-->
                        <div th:if="${products.getTotalElements() == 0}" class="col-12">
                            <div class="alert alert-warning">Không tìm thấy sản phẩm nào</div>
                        </div>
                    </div>
                    <!-- Pagination -->
                    <ul class="pagination flex items-center gap-2 justify-center mt-4">
                        <!-- Previous Page Link -->
                        <li th:if="${currentPage > 1}">
                            <a th:href="@{/shop(page=${currentPage - 1}, size=${size}, sort=${sort}, brands=${selectedBrands}, categories=${selectedCategories})}"
                               class="pagination-link bg-gray-200 text-gray-800 px-4 py-2 rounded-md shadow-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>

                        <!-- Page Number Links -->
                        <li th:if="${currentPage > 3}">
                            <a th:href="@{/shop(page=1, size=${size}, brands=${selectedBrands}, categories=${selectedCategories}, sort=${sort})}"
                               class="pagination-link bg-gray-200 text-gray-800 px-4 py-2 rounded-md shadow-md hover:bg-gray-300">1</a>
                            <span class="text-gray-500 px-2">...</span>
                        </li>

                        <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                            th:if="${i > 0 && i <= totalPages}">
                            <a th:href="@{/shop(page=${i}, size=${size}, brands=${selectedBrands}, categories=${selectedCategories}, sort=${sort})}"
                               th:text="${i}"
                               th:classappend="${i == currentPage} ? 'pagination-link-active' : ''"
                               class="pagination-link bg-gray-200 text-gray-800 px-4 py-2 rounded-md shadow-md hover:bg-gray-300">
                            </a>
                        </li>


                        <li th:if="${currentPage < totalPages - 2}">
                            <span class="text-gray-500 px-2">...</span>
                            <a th:href="@{/shop(page=${totalPages}, size=${size}, brands=${selectedBrands}, categories=${selectedCategories}, sort=${sort})}"
                               class="pagination-link bg-gray-200 text-gray-800 px-4 py-2 rounded-md shadow-md hover:bg-gray-300"
                               th:text="${totalPages}"></a>
                        </li>

                        <!-- Next Page Link -->
                        <li th:if="${currentPage < totalPages}">
                            <a th:href="@{/shop(page=${currentPage + 1}, size=${size}, brands=${selectedBrands}, categories=${selectedCategories}, sort=${sort})}"
                               class="pagination-link bg-gray-200 text-gray-800 px-4 py-2 rounded-md shadow-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <style>

        .one, .star-1 {
            color: rgb(255, 0, 0);
        }

        .two, .star-2 {
            color: rgb(255, 106, 0);
        }

        .three, .star-3 {
            color: rgb(255, 224, 101);
        }

        .four, .star-4 {
            color: rgb(255, 245, 0);
        }

        .five, .star-5 {
            color: rgb(24, 159, 14);
        }

        .pagination-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
        }

        .pagination-link-active {
            background-color: #e4641a; /* Active page color */
            color: white;
            font-weight: bold;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .pagination-link:hover {
            background-color: #e4641a;
            color: white;
            transform: scale(1.05);
        }

        .pagination {
            margin-top: 1rem;
        }

        .pagination > li {
            list-style: none;
        }

    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const products = document.querySelectorAll(".rateOfPro");

            products.forEach((rateOfPro) => {
                let divRateOfPro;
                try {
                    const index = rateOfPro.id.split("-")[1];
                    divRateOfPro = document.getElementById(`divRateOfPro-${index}`);
                    const starOfPro = document.getElementById(`starOfPro-${index}`);
                    const rateFloat = parseFloat(rateOfPro.innerText);

                    if (isNaN(rateFloat)) throw new Error("Invalid rate value");

                    if (rateFloat > 0) {
                        if (rateFloat <= 1) {
                            starOfPro.className += " one";
                            rateOfPro.className += " one";
                        } else if (rateFloat <= 2) {
                            starOfPro.className += " two";
                            rateOfPro.className += " two";
                        } else if (rateFloat <= 3) {
                            starOfPro.className += " three";
                            rateOfPro.className += " three";
                        } else if (rateFloat <= 4) {
                            starOfPro.className += " four";
                            rateOfPro.className += " four";
                        } else {
                            starOfPro.className += " five";
                            rateOfPro.className += " five";
                        }
                    } else {
                        divRateOfPro.className = divRateOfPro.className + " !text-white";
                    }
                } catch (e) {
                    //console.error("Error processing product rating:", e);
                    if (divRateOfPro) {
                        divRateOfPro.className = divRateOfPro.className + " !text-white";
                    }

                }
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            const filterForm = document.getElementById("filter-form");
            const filterInputs = filterForm.querySelectorAll(".form-check-input");

            filterInputs.forEach(input => {
                input.addEventListener("change", function () {
                    filterForm.submit();
                });
            });
        });
    </script>
</section>
</body>
</html>