<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/customer.html}">
<body>
<section layout:fragment="content">
    <div class="page-header" style="background-image: url('/assets/image/shop/page-header-bg.jpg')">
        <div class="container">
            <h1 class="text-[#333333] text-4xl text-center font-semibold">Cửa Hàng</h1>
        </div>
    </div>
    <div class="container mb-5">
        <nav class="my-4">
            <ul class="flex items-center gap-x-2">
                <li class=""><a th:href="@{/}">Trang chủ</a></li>
                <li><i class="fa-solid fa-chevron-right"></i></li>
                <li class="" aria-current="page"><a th:href="@{/shop}">Cửa hàng</a></li>
            </ul>
        </nav>
        <div class="row">
            <div class="col col-lg-3">
                <div class="fitler">
                    <label>Lọc:</label>
                    <a href="">Xoá tất cả </a>
                </div>
                <div class="category">
                    <h3 class="widget-title">Danh mục</h3>
                    <div class="widget-body">
                        <div class="filter-items filter-items-count">
                            <div class="filter-item" th:each="category : ${categories}">
                                <div class="form-check">
                                    <label><input class="form-check-input" type="checkbox" th:id="'cat-' + ${category.id}"></label>
                                    <label class="form-check-label" th:for="'cat-' + ${category.id}" th:text="${category.name}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="size">
                    <h3 class="widget-title">Kích cỡ</h3>
                    <div class="widget-body">
                        <div class="filter-items">
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size-xs">
                                    <label class="form-check-label" for="size-xs">XS</label>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size-s">
                                    <label class="form-check-label" for="size-s">S</label>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size-m">
                                    <label class="form-check-label" for="size-m">M</label>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size-l">
                                    <label class="form-check-label" for="size-l">L</label>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size-xl">
                                    <label class="form-check-label" for="size-xl">XL</label>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size-xxl">
                                    <label class="form-check-label" for="size-xxl">XXL</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="colour">
                    <h3 class="widget-title">Màu</h3>
                    <div class="widget-body">
                        <div class="filter-colors">
                            <a href="#" style="background: #b87145;"><span class="sr-only">Color Name</span></a>
                            <a href="#" style="background: #f0c04a;"><span class="sr-only">Color Name</span></a>
                            <a href="#" style="background: #333333;"><span class="sr-only">Color Name</span></a>
                            <a href="#" class="selected" style="background: #cc3333;"><span
                                    class="sr-only">Color Name</span></a>
                            <a href="#" style="background: #3399cc;"><span class="sr-only">Color Name</span></a>
                            <a href="#" style="background: #669933;"><span class="sr-only">Color Name</span></a>
                            <a href="#" style="background: #f2719c;"><span class="sr-only">Color Name</span></a>
                            <a href="#" style="background: #ebebeb;"><span class="sr-only">Color Name</span></a>
                        </div>
                    </div>
                </div>

                <div class="price">
                    <h3 class="widget-title">Giá</h3>
                    <div class="widget-body">
                        <div class="filter-items filter-items-count">
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cat-1">
                                    <label class="form-check-label" for="cat-1">100,000đ - 200,000đ</label>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cat-2">
                                    <label class="form-check-label" for="cat-2">200,000đ - 300,000đ</label>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cat-3">
                                    <label class="form-check-label" for="cat-3">300,000đ - 400,000đ</label>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cat-4">
                                    <label class="form-check-label" for="cat-4">400,000đ - 500,000đ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-9">
                <div class="searh">
                    <div class="toolbox-left">
                        <div class="toolbox-info">
                            Hiển thị
                            <span>12 trong 56</span>
                            sản phẩm
                        </div>
                    </div>
                    <div class="toolbox-right">
                        <label>Sắp xếp:</label>
                        <div class="select-custom">
                            <select name="orderby" class="form-control">
                                <option value="popularity" selected="selected">Nổi tiếng nhất</option>
                                <option value="rating">Đánh giá cao nhất</option>
                                <option value="date">Ngày</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--List of products-->
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-4 col-xl-4" th:each="product : ${products}">
                            <div class="product">
                                <figure class="product-media">
                                    <a th:href="@{/shop/product(id=${product.id})}">
                                        <img th:src="${productThumbnails[product.id]}" alt="Product Image">
                                    </a>
                                </figure>
                                <div class="product-body">
                                    <h3 class="product-title" th:text="${product.name}">
                                    </h3>
                                    <div class="product-price" th:text="${#numbers.formatCurrency(product.price)}"></div>
                                    <button class="btn btn-primary button-add" th:data-id="${product.id}">Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--pagination-->
                    <ul class="flex items-center gap-x-2">
                        <!-- Previous Page Link -->
                        <li th:if="${currentPage > 1}">
                            <a th:href="@{/shop(page=${currentPage - 1}, size=${size})}"
                               class="bg-blue-500 text-white px-3 py-1 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>

                        <!-- Page Number Links -->
                        <li th:if="${currentPage > 3}">
                            <a th:href="@{/shop(page=1, size=${size})}"
                               class="text-white px-3 py-1 rounded-lg bg-blue-500">1</a>
                            <span class="text-gray-600">...</span>
                        </li>

                        <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                            th:if="${i > 0 && i <= totalPages}">
                            <a th:href="@{/shop(page=${i}, size=${size})}"
                               th:text="${i}"
                               th:classappend="${i == currentPage} ? 'bg-[#e4641a]' : 'bg-blue-500'"
                               class="text-white px-3 py-1 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </a>
                        </li>

                        <li th:if="${currentPage < totalPages - 2}">
                            <span class="text-gray-600">...</span>
                            <a th:href="@{/shop(page=${totalPages}, size=${size})}"
                               class="text-white px-3 py-1 rounded-lg bg-blue-500" th:text="${totalPages}"></a>
                        </li>

                        <!-- Next Page Link -->
                        <li th:if="${currentPage < totalPages}">
                            <a th:href="@{/shop(page=${currentPage + 1}, size=${size})}"
                               class="bg-blue-500 text-white px-3 py-1 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

</body>
</html>